.signup-page-body{
    min-height: 100%;
    background-image:url("../../../assets/images/forms-background.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position-x: center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

