.donate-container{
    height: 80vh;
    padding: 10px;
    text-align: center;
    margin-top: 25px;
}
.donate-buttons button{
    width: 100%;
    margin: 5px;
    height: 60px;
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;
    background-color: #ffffff;
    color: #07796f;
}

