<!-- <div class="container-fluid welcome-container">
  <div class="row">
    <div class="col-12 msg-box">
      <h1 class="heading">welcome to DigiWot</h1>
      <h3 class="description">stay tuned for the launch event happening on august 1st 2018.</h3>
    </div>
  </div>
</div> -->
<div class="container-fluid welcome-container">
    <div class="row">
      <div class="col-12 msg-box">
        <h1 class="heading">website under construction</h1>
        <h3 class="description">stay tuned for the launch event happening on august 1st 2018.</h3>
      </div>
      <!-- <div class="test-anim">
          <div [@bounce]="bounce"></div>
      </div> -->
    </div>
  </div>