<footer class="page-footer font-small stylish-color-dark pt-4 footer-background">
  <div class="row footer-row margin-0">
    <div class="footer-copyright text-center col-lg-4 col-md-5 col-sm-12">
      Copyright © 2018 DIGIWOT INC. Pvt. Ltd. - All Rights Reserved.
    </div>
    <div class="social-media text-center col-lg-4 col-md-4 col-sm-12">
      <ul class="list-unstyled list-inline margin-bottom-zero">
        <li class="list-inline-item">
          <a class="btn-floating btn-sm btn-fb mx-1" href="https://www.facebook.com/212520059556292" target="blank">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-sm btn-tw mx-1" href="https://twitter.com/digiwotI" target="blank">
            <i class="fab fa-twitter-square fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-sm btn-gplus mx-1" href="https://www.youtube.com/channel/UCj997_Si6xcEe9Va1mIjDww" target="blank">
            <i class="fab fa-youtube fa-2x"></i>
          </a>
        </li>
        <!-- <li  class="list-inline-item">
              <a  class="btn-floating btn-sm btn-li mx-1" href="https://www.linkedin.com/in/sumant-kumar-gupta-0479957a/"
                target="blank">
                <i  class="fab fa-linkedin fa-2x"></i>
              </a>
            </li> -->
        <li class="list-inline-item">
          <a class="btn-floating btn-sm btn-li mx-1" href="https://www.instagram.com/digiwotinc" target="blank">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="stay-in-touch text-center col-lg-4 col-md-3 col-sm-12 "> Powered By ASA Group </div>
  </div>

</footer>