.sticky{
    top: 0px;
    position: sticky;
    z-index: 1001;
}

.warning-banner{
    width: 100%;
    color: white;
    background-color: rgb(210, 47, 37);
    transition: all 0.5s;
    display: block;
    font-family: 'Playfair Display', Georgia, serif;
    text-align: center;

}

.logo{
    height: 50px;
}
.navbar-right{
    float: left;
    // margin-left: 71%;
    font-size: 18px;
    width: 100%;

}
.navbar-right li>a{
    padding: 5px;
}
.navbar-light{
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px 3px 1px grey;
}
.navbar{
    background: linear-gradient(135.11deg, #31d6bf 0%, #3e6ca5 100%)
    // background-color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}

.nav-item :hover{
    background-color: #d8d8d8;
}

@media (min-width: 992px)  { 
    .navbar-right{
        float: right;
        margin-left: 71%;
        font-size: 18px;
    }
}