.sticky{
    top: 0px;
    position: sticky;
    z-index: 1001;
}

.warning-banner{
    width: 100%;
    color: white;
    background-color: rgb(210, 47, 37);
    transition: all 0.5s;
    display: block;
    font-family: 'Playfair Display', Georgia, serif;
    text-align: center;

}

.logo{
    height: 50px;
}
.navbar-right{
    float: right;
}
.navbar{
    background-color: #4267b2;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}