.sticky{
    top: 0px;
    position: sticky;
    z-index: 1001;
}

.warning-banner{


    width: 100%;
    color: white;
    background-color: #d22f25;
    transition: all 0.5s;
    text-align: center;

}

.logo{
    height: 50px;
}
.navbar-right{
    float: left;
    // margin-left: 71%;
    font-size: 18px;
    width: 100%;

}
.navbar-right li>a{
    border-radius: 30px;
    margin: 5px;
    background: #29bdca;
    padding: 5px 14px;
    min-width: 88px;
    text-align: center;
}
.navbar-right li>a:hover{
    background: #0ea4b1c9;
}
.navbar-light{
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px 3px 1px grey;
}
.navbar{
    background: linear-gradient(135.11deg, #31d6bf 0%, #3e6ca5 100%)
    // background-color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}

.nav-item :hover{
    // background: #0ea4b1c9;
    // // border: 1px solid white;
    // border-radius: 30px;
    // padding: 1px 7px;
    
}

// .nav-item{
//     border-radius: 30px;
//     margin: 5px;
//     background: #29bdca;
//     padding: 1px 7px;
// }

@media (min-width: 992px)  { 
    .navbar-right{
        float: right;
        margin-left: 63%;
        font-size: 18px;
    }
}

.margin-0{
    margin: 0;
}

.translator{
    padding: 5px;
    
}
.goog-te-gadget-simple{
    border-radius: 14px !important;
}