.full-height{
    height: 98vh;
}


.sign-up-box{
    border: 1px solid gray;
    border-radius: 10px;
    // vertical-align: middle;
    margin: 200px auto;
    height: 362px;
    box-shadow: 0px 0px 8px grey;
    // min-width: 400px;
    max-width: 400px;
    display: inline-block;
    background: linear-gradient(135.11deg, #39e0c9 0%, #6d96ca 100%);
}


.button-continer{
    margin: auto;
    text-align: center;
    margin: 18%;

}
.button-continer button{
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
}


.form-container, button{
    font-family: "Lucida Console", Monaco, monospace !important;
    word-spacing: -4px;
}
.btn-info{
    background-color: #0a97ad;
}





@media (max-width: 575.98px) { 
    .button-continer{
        margin: 10%;
    
    }
 }
@media (max-width: 767.98px) { 
    .sign-up-box{
        margin: auto !important;
    }
}

@media (max-width: 991.98px) { 
    .sign-up-box{
        margin: 200px 0px;
    }
 }