/* You can add global styles to this file, and also import other style files */
body{
    -webkit-font-smoothing: antialiased;
    // height: 1500px;
    
}

.timer-box{
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px;
    background-color: gray;
    margin-left: 15px;
    margin-right: 2px;
}