.parallax {
    background-image: url("https://hdwallsource.com/img/2014/8/empty-road-wallpaper-34976-35781-hd-wallpapers.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-tagline{
    text-align: center;
    color: white;
    padding-top: 150px;
}

.header-tagline h1{
    font-family: 'Playfair Display', Georgia, serif;
}

.header-tagline p{
    font-family: 'Open Sans', arial, sans-serif;
    margin-bottom: 0px;
}
.contact-us-button{
    margin: 10px;
    padding: 10px;
}
.timer{
    padding: 10px;
}

.croud-funding{
    text-align: center;
    // background-image: file:///Users/sumant/Downloads/artem-bali-590545-unsplash%20(2).jpg;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShnK3LblJ_OfQgKBcrhq8bM7fuoUMPoQRrH4uDasvDjPADeT20');
    // height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.crowd-funding-options{
    max-height: 20px;
}
.custom-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.cause-paragraph{
    max-width: 500px;
    margin: auto;
}

.about-us-container{
    text-align: center;
}
.about-us-text{
    color: black;
    text-align: center;
    text-decoration: underline;
    width: 100%;
    font-size: 40px;
    margin: 25px;
}
.card-image{
    border-radius: 50%;
}
.custom-card{
    border: none;
    padding: 5px;
    width: 19rem !important;
    margin: auto;
    min-height: 100%;

}
.custom-card:hover{
    box-shadow: 0px 0px 1px 1px #9e9292;
}
.custom-card a{
    color: inherit;
}
.custom-card a:hover{
    text-decoration: none;
    
}

.subscription-container{
    background-color: rgb(210, 47, 37);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px; 
    padding: 25px 0;
}
.subscription-container .text-muted{
    color: white !important;
}
.subs-text{
    text-align: right;
    font-size: 36px;
    margin: auto;
}

.subs-button{
    margin: auto;
    padding-bottom: 7px;
}

.margin-0{
    margin: 0;
}

@media (max-width: 767.98px) { 
    
    .subs-text{
        text-align: center;
        font-size: 30px;
        margin: auto;
    }

    .subs-form{
        padding: 0 30px;
    }

    .subs-button{
        text-align: right;
        padding-right: 30px;
    }

 }