.parallax {
    background-image: url("../../../assets/images/bg1.jpg");
    min-height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-tagline{
    text-align: center;
    color: white;
    padding-top: 150px;
}

.header-tagline h1{
    font-family: 'Playfair Display', Georgia, serif;
}

.header-tagline p{
    font-family: 'Open Sans', arial, sans-serif;
    margin-bottom: 0px;
}
.contact-us-button{
    margin: 10px;
    padding: 10px;
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
}
.contact-us-button :focus{
    border-color: #3897f0;
}
.contact-us-button:not(:disabled):not(.disabled):active{
    opacity: 0.8;
}
.timer{
    padding: 10px;
}

.croud-funding{
    text-align: center;
    // background-image: file:///Users/sumant/Downloads/artem-bali-590545-unsplash%20(2).jpg;
    background-image: url('../../../assets/images/crowd-funding-background.jpg');
    // height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.crowd-funding-options{
    max-height: 20px;
}
.custom-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.cause-paragraph{
    max-width: 500px;
    margin: auto;
}

.about-us-container{
    text-align: center;
}
.about-us-text{
    color: #296cab;
    text-align: center;
    width: 100%;
    font-size: 40px;
    margin: 25px;
}
.card-image{
    border-radius: 50%;
}
.custom-card{
    border: none;
    padding: 5px;
    width: 19rem !important;
    margin: auto;
    min-height: 100%;

}
.custom-card:hover{
    box-shadow: 0px 0px 1px 1px #9e9292;
}
.custom-card a{
    color: inherit;
}
.custom-card a:hover{
    text-decoration: none;
    
}

.subscription-container{
    background: linear-gradient(135.11deg, #31d6bf 0%, #3e6ca5 100%);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px; 
    padding: 25px 0;
}
.subscription-container .text-muted{
    color: white !important;
}
.subs-text{
    text-align: right;
    font-size: 36px;
    margin: auto;
}

.subs-button{
    margin: auto;
    padding-bottom: 7px;
}

.margin-0{
    margin: 0;
}

.timer-box{
    border: 1px solid white;
    border-radius: 4px;
    padding: 4px;
    background-color: gray;
    margin-left: 15px;
    margin-right: 2px;
}

.bottom-feed1{
    bottom: 0px;
    position: absolute;
    left: 60px;
}
.bottom-feed2{
    bottom: 0px;
    position: absolute;
    left: 18px;
}
.bottom-feed3{
    bottom: 0px;
    position: absolute;
    left: 90px;
}

.contact-us-header{
    color: #296cab;
    text-align: center;
    text-transform: uppercase;
    margin: 40px auto;
    // font-family: 'Playfair Display', Georgia, serif;
    font-size: 40px;

}
.contact-container{
    line-height: 35px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-bottom: 10px;
}
.margin-auto{
    margin: auto;
}
.bold{
    font-weight: bold;
}
.small-text{
    font-size: 16px;;
    color: gray;
    margin-bottom: 0px;
}

.score-box-div{
    text-align: center;
    margin: auto;
}
.scoreboard-container{
    // background: linear-gradient(135.11deg, #a00f16 0%, #5b87bd 100%);
    background: linear-gradient(135.11deg, #31d6bf 0%, #3e6ca5 100%);
    font-family: Lato, sans-serif;
}
.scoreboard-header{
    font-size: 32px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    padding-top: 0;
}
.trophy{
    background-image: url('../../../assets/images/trophy.png');
    text-align: center;
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}
.ribbon{
    background-image: url('../../../assets/images/ribbon.png');
    text-align: center;
    height: 35px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    padding-top: 5px;
    color: white;
    text-transform: uppercase;
}
.score-box{
    height: 75px;
    max-width: 130px;
    box-shadow: 0px 1px grey;
    border-radius: 5px;
    border: 1px solid white;
    padding-top: 17px;
    font-size: 25px;
    margin: auto;
    color: white;
}
.score-text{
    color: white;
    padding: 10px;
}
.map{
    background-image: url('../../../assets/images/map.png');
    color: white;
    font-family: "din","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    margin: 0;

}
@media (max-width: 767.98px) { 
    
    .subs-text{
        text-align: center;
        font-size: 30px;
        margin: auto;
    }

    .subs-form{
        padding: 0 30px;
    }

    .subs-button{
        text-align: right;
        padding-right: 30px;
    }

 }
.hd-bg{
    padding: 10px;
    border: 1px solid #ceceec;
    background: linear-gradient(135.11deg, #aef9ee 0%, #ff91b0 100%);
    border-radius: 10px;
}
.about-us-bg{
    background: linear-gradient(135.11deg, #31d6bf 0%, #3e6ca5 100%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dcdce0;
}