<div class="parallax">
  <div class="header-tagline">
    <h1>DiGiWoT Inc.
      <br> DIGITAL WORLD OF TRADE</h1>
    <P>Helping You Get Things Done in Better Way.</P>
    <P>Experience "Better Life Together".</P>
    <h3>Goes live on August 1st 2018.</h3>
    <a href="#contact-us">
      <button type="button" class="btn btn-danger contact-us-button">CONTACT US</button>
    </a>
    <p id="demo" class="timer">
      <span class="timer-box">{{days}}</span>Days
      <span class="timer-box">{{hours}}</span>Hours
      <span class="timer-box">
        {{minutes}}</span>Minutes
      <span class="timer-box">{{seconds}}</span>Seconds to go live.


    </p>
  </div>
</div>
<div class="container-fluid scoreboard-container">
  <div class="row col-12">
    <div class="col-12 scoreboard-header"> registration score board</div>
  </div>
  <div class="row col-12">
    <div class="col-12 col-sm-3 score-box-div">
      <div class="col-12 score-box">{{noOfRegCustomers}}</div>
      <div class="col-12 score-text">Customers</div>
    </div>
    <div class="col-12 col-sm-3 score-box-div">
        <div class="col-12 score-box">{{noOfRegMerchants}}</div>
        <div class="col-12 score-text">Merchants</div>
    </div>
    <div class="col-12 col-sm-3 score-box-div">
        <div class="col-12 score-box">{{noOfRegJobSeekers}}</div>
        <div class="col-12 score-text">Job Seekers</div>
    </div>
    <div class="col-12 col-sm-3 score-box-div">
        <div class="col-12 score-box">{{noOfDoners}}</div>
        <div class="col-12 score-text">Doners</div>
    </div>
  </div>
</div>

<div class="croud-funding">
  <div class="container custom-container">
    <h1>Help Our Cause "Crowd Funding"</h1>
    <p class="cause-paragraph">Your support and contributions will enable us to meet our goals and improve conditions. Your generous donation will fund
      our mission.</p>
    <button type="button" class="btn btn-danger contact-us-button" (click)="gotoDonate()">
      <i class="fas fa-coins"></i> DONATE NOW</button>
    <div>
      <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" data-ux="Image" data-aid="PAYMENT_CREDIT_CARD_BADGES_RENDERED"
        alt="Pay with PayPal or a debit/credit card" class="crowd-funding-options">
    </div>

  </div>
</div>

<div class="container about-us-container">
  <div class="row text-center">
    <div class="about-us-text">About Us</div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-12">
      <div class="card custom-card">
        <img class="card-img-top card-image" src="//img1.wsimg.com/isteam/stock/103733/:/rs=w:223,h:223,cg:true,m/cr=w:223,h:223"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">DiGIWoT Inc</h5>
          <p class="card-text">
            <b>
              <i>DIGIWOT Inc. </i>
            </b>"Digital World Of Trade & Technology" focused on "DIGITIZING world Together" providing best Consumer Experience
            delivering all products at most affordable price and best quality.
            <br>
            <b>
              <i> Tuned For Updates.</i>
            </b>
            <br>Goes Live On
            <b>August 1, 2018.</b>
          </p>
          <br>
          <p class="bottom-feed1">NEPAL | INDIA | CHINA</p>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12">
      <div class="card custom-card">
        <a href="https://www.facebook.com/aakashagrawal1992">
          <img class="card-img-top card-image" src="//img1.wsimg.com/isteam/ip/2e36821c-e4f8-494c-a89d-a66f7fce132a/aabb7b83-7d47-45c0-83f5-e9a5c9cfdddf.jpg/:/rs=w:223,h:223,cg:true,m/cr=w:223,h:223"
            alt="Card image cap">
        </a>
        <div class="card-body">
          <a href="https://www.facebook.com/aakashagrawal1992">
            <h5 class="card-title">Founder | CEO | MD</h5>
          </a>
          <p class="card-text">Nepalese-Indian Entrepreneur Aakash Agarwal is the visionary leader of DIGIWOT Inc. (Digital World Of Trade) networks.He
            is one of the few people in the world who dares to change the world with his breakthrough ideas.</p>
          <br>
          <p class="bottom-feed2">Innovator | Techie | Humanitarian</p>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12">
      <div class="card custom-card">
        <img class="card-img-top card-image" src="//img1.wsimg.com/isteam/stock/103740/:/rs=w:223,h:223,cg:true,m/cr=w:223,h:223"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">DiGiWoT Inc</h5>
          <p class="card-text">
            <b>DIGIWOT Inc.</b>“数字世界贸易与技术”专注于“数字化世界”，提供最佳的消费体验，以最实惠的价格和最优质的品质提供所有产品。</p>
          <p>请继续关注更新。 将于2018年8月1日生效。 </p>
          <br>
          <p class="bottom-feed3">尼泊尔| 印度| 中国</p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid subscription-container">
  <div class="row margin-0">
    <div class="col-lg-4 col-md-4 col-sm-12 subs-text">
      Join Our Mailing List
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 subs-form">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Get 5% off your first purchase when you sign up for our newsletter!</small>
        </div>
      </form>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 subs-button">
      <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </div>
</div>

<div class="container contact-container" id="contact-us">
  <div class="row col-12">
    <h2 class="contact-us-header col-12">contact us</h2>
    <br>
    <h4 class="col-12 text-center ">Reach Out To Us For Any Queries 24*7.</h4>
    <br>
    <h4 class="col-12 text-center ">DIGIWOT INC.</h4>
    <p class="col-12 text-center small-text">Guwahati, Assam, India</p>
    <p class="col-12 text-center small-text">+91-99444 92910 || project.secret18@gmail.com</p>
    <button type="button" class="btn btn-danger contact-us-button margin-auto bold" (click)="gotoSignup()"> Sign Up</button>

  </div>
</div>