<div class="parallax">
  <div class="header-tagline">
    <h1>DiGiWoT Inc.
      <br> DIGITAL WORLD OF TRADE</h1>
    <P>Helping You Get Things Done in Better Way.</P>
    <P>Experience "Better Life Together".</P>
    <h3>Goes live on August 1st 2018.</h3>
    <button type="button" class="btn btn-danger contact-us-button">CONTACT US</button>
    <p id="demo" class="timer"></p>
  </div>
</div>

<div class="croud-funding">
  <div>
    <h1>Help Our Cause "Crowd Funding"</h1>
    <p>Your support and contributions will enable us to meet our goals and improve conditions. Your generous donation will fund
      our mission.</p>
    <button type="button" class="btn btn-danger contact-us-button">
      <i class="fas fa-cc-paypal fa-2x"></i>DONATE NOW</button>
    <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" data-ux="Image" data-aid="PAYMENT_CREDIT_CARD_BADGES_RENDERED"
      alt="Pay with PayPal or a debit/credit card" class="">
  </div>
</div>