<div class="row full-height">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-sm-12 col-md-6 col-lg-6 text-center">
    <div class="sign-up-box">
      <div class="button-continer col-12 col-sm-10 align-middle">
        <div class="signup-box-header">
          reset password
        </div>
        <form (ngSubmit)="resetPassword()" #passwordResetForm="ngForm">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" id="email" name="email" class="form-control" required [(ngModel)]="user.email" #email="ngModel" placeholder="john@gmail.com"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required">Email is required.</div>
              <div *ngIf="email.errors && email.errors.pattern">Email is invalid</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Old Password</label>
            <input type="password" class="form-control" id="oldpwd" placeholder="********" required #oldpwd="ngModel" name="oldpwd" [(ngModel)]="user.oldpwd">
            <div *ngIf="oldpwd.invalid && (oldpwd.dirty || oldpwd.touched)" class="alert alert-danger">
              <div *ngIf="oldpwd.errors.required">
                Please enter your old password.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="newpwd">New Password</label>
            <input type="password" class="form-control" id="newpwd" minlength="6" placeholder="********" required #newpwd="ngModel" name="newpwd"
              [(ngModel)]="user.newPwd" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{6,}$">
            <div *ngIf="newpwd.invalid && (newpwd.dirty || newpwd.touched)" class="alert alert-danger">
              <div *ngIf="newpwd.errors.required">Please enter your New Password.</div>
              <div *ngIf="newpwd.errors.minlength">Password must be at least 6 characters long.</div>
              <div *ngIf="newpwd.errors && newpwd.errors.pattern">Password should contain Minimum 6 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and
                1 of #$^+=!*()@%&</div>
            </div>
          </div>
          <div class="form-group">
            <label for="cNewPwd">Confirm New Password</label>
            <input type="password" class="form-control" id="cNewPwd" placeholder="********" required #cNewPwd="ngModel" name="cNewPwd"
              [(ngModel)]="user.cNewPwd" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{6,}$">
            <div *ngIf="cNewPwd.invalid && (cNewPwd.dirty || cNewPwd.touched) && !cNewPwd.errors.pattern" class="alert alert-danger">
              <div *ngIf="cNewPwd.errors.required"> Password is required.</div>
            </div>
            <div *ngIf="(cNewPwd.dirty || cNewPwd.touched) && (user.cNewPwd != user.newPwd) && user.cNewPwd" class="alert alert-danger">
              <div> Password is not matching.</div>
            </div>
          </div>

          <button type="submit" class="btn btn-danger submit-button" [disabled]="!passwordResetForm.form.valid">Request Change</button>
          <button type="button" class="btn btn-secondary" (click)="gotoMainHomePage()">Cancel</button>
          <br>
          <!-- <p class="existing-accout col-12">
              <a href="/resetpassword" class="col-6">Forgot password?</a>
              <a href="/signup" class="col-6">Don`t have an account! Signup</a>
            </p> -->
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3"></div>

</div>